html {
  width: 100%;
  max-width: 100%;
  }
  
  body {
  width: 100%;
  height: 100%;
  }
  
  main{
      background: #2dce0c;
  }

  .my-name {
    color: rgb(231, 228, 228);
    text-align: center;
    border: solid rgb(157, 255, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }